{
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "react"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/first": "error",
    "no-console": "error",
    "no-eval": "error",
    "quotes": [2, "single", "avoid-escape"],
    "no-empty-function": "warn"
  }
}
